In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from tqdm.notebook import tqdm
from sklearn.model_selection import cross_validate
from catboost import CatBoostRegressor

In [2]:
all = pd.read_csv('./data/raw/all.csv')
all = all.drop(columns=['IMR', 'ID'])

all['MRG'] = all['MRG'].apply(lambda x: x if x in [91, 92, 93, 94, 95, 96, 97] else 90)

for k in all['REL'].value_counts().keys()[-1:]:
    all = all[all['REL'] != k]

for k in all['WORKPLACE'].value_counts().keys()[-2:]:
    all = all[all['WORKPLACE'] != k]

ITM40_mean, ITM40_std = all['ITM40'].mean(), all['ITM40'].std()
all['ITM40'] = (all['ITM40'] - ITM40_mean) / ITM40_std
all

,YEAR,PERSON,REL,SEX,AGE,EDU,IND,OCC,WKCLASS,WORK,WORKPLACE,MRG,PT,ITM40
0,2011,1,1,1,52,4,94,7,3,1,2,90,2,0.347617
1,2011,1,1,1,17,6,55,5,2,1,2,91,2,-0.626388
2,2011,2,1,2,35,4,55,5,2,1,2,90,2,-0.639083
3,2011,1,1,1,72,1,3,63,3,1,2,90,2,-0.622557
4,2011,1,1,2,47,3,8,8,2,1,2,94,2,-0.687500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290884,2021,3,3,2,24,7,64,3,2,1,63,91,2,-0.230407
290885,2021,51,3,2,21,5,55,5,2,1,17,91,2,-0.654031
290886,2021,1,5,2,61,6,0,0,8,2,0,97,2,-0.794130
290887,2021,31,1,2,36,8,45,3,2,1,63,91,2,-0.348243
290888,2021,1,1,2,47,6,94,3,2,1,63,97,2,-0.062631

In [3]:
X, Y = all.iloc[:, :-1], all.iloc[:, -1]

In [4]:
df_encoded = pd.get_dummies(X, columns=list(X.columns), prefix='Prefix')
df_encoded

,Prefix_2011,Prefix_2012,Prefix_2013,Prefix_2014,Prefix_2015,Prefix_2016,Prefix_2017,Prefix_2018,Prefix_2019,Prefix_2020,...,Prefix_90,Prefix_91,Prefix_92,Prefix_93,Prefix_94,Prefix_95,Prefix_96,Prefix_97,Prefix_1,Prefix_2
0,True,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
1,True,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
2,True,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
3,True,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
4,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290884,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
290885,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
290886,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
290887,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
290888,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True

In [5]:
cat = CatBoostRegressor()

In [6]:
model_list = [cat]
result = []
model = model_list[0]
res = cross_validate(model, df_encoded.values, Y.values, n_jobs=-1, verbose=1, return_train_score=True, scoring=['neg_mean_absolute_error', 'neg_mean_squared_error'])
test_mae_score = -res['test_neg_mean_absolute_error'].mean()
train_mae_score = -res['train_neg_mean_absolute_error'].mean()
test_mse_score = -res['test_neg_mean_squared_error'].mean()
train_mse_score = -res['train_neg_mean_squared_error'].mean()
result.append([model.__class__.__name__, train_mae_score, test_mae_score, train_mse_score, test_mse_score])

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 out of   5 | elapsed:   50.3s remaining:  1.3min
[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:   50.8s finished

In [7]:
pd.DataFrame(result, columns=["name", "train_mae", "test_mae", "train_mse", "test_mse"]).to_csv("catmodels.csv")